# -------------------------
# NODE / FRONTEND
# -------------------------
node_modules/
dist/
dist-ssr/
*.local
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# -------------------------
# BACKEND .NET
# -------------------------
bin/
obj/
*.db
*.db-shm
*.db-wal
*.mdb
*.ldb

# Arquivos de usuário
*.user
*.userosscache
*.suo

# Configurações sensíveis
*.vscode/*
!.vscode/extensions.json

# Arquivos gerados automaticamente
emails.log

# -------------------------
# SISTEMA / IDE
# -------------------------
.idea/
.DS_Store
*.njsproj
*.sln.iml
*.sw?

# Backups
*.bak
*.tmp
